<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit Component</title>
</head>
<body>
<div layout:fragment="content">
<h1>Edit Component</h1>
<form th:action="@{/pallets/{palletId}/components/{componentId}/update(palletId=${palletId}, componentId=${component.id})}"
      th:object="${component}" method="post">
    <p>Amount: <input type="number" th:field="*{amount}"/></p>

    <div th:if="${component.componentType.name() == 'NAIL'}">
        <p>Size: <input type="number" th:field="*{size}"/></p>
        <p>Unit Price: <input type="number" th:field="*{unitPrice}"/></p>
    </div>

    <div th:if="${component.componentType.name() != 'NAIL'}">
        <p>Width: <input type="number" th:field="*{width}"/></p>
        <p>Length: <input type="number" th:field="*{length}"/></p>
        <p>Height: <input type="number" th:field="*{height}"/></p>
        <p>Price per m³: <input type="text" th:field="*{priceM3}"/></p>
    </div>

    <p><input type="submit" value="Update Component"/></p>
</form>
</body>
</html>